<template>
  <div class="asset-item" @click.prevent="goTo(data)">
    <div class="avatar" :style="{ background: getColor }">
      <img v-if="imageUrl" :src="imageUrl">
    </div>
    <div class="asset-desc">
      <h3>Image</h3>
      <p>{{ data.hash }}</p>
    </div>
    <div class="asset-action" v-if="extended == true">
      <button class="btn btn-small" @click.prevent="action(data)">{{ actionTitle }}</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AssetItem',
  props: ['data', 'extended'],

  computed: {
    ...mapState(['constants']),
    imageUrl() {
      return `${this.constants.apiUrl}/assets/${this.data.hash}.png?w=128`
    },
    actionTitle() {
      return 'Verify'
    }
  },

  methods: {
    goTo(data) {
      this.$router.push({
        name: 'AssetDetail',
        params: {
          id: data.hash
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables.scss';

.avatar {
  background: darken($white, 5%);
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.asset-desc {
  color: $color1;
  margin: auto 5px;

  h3 {
    margin: 0;
    text-align: left;
  }
}

.asset-action {
  display: flex;
  margin: auto 20px auto auto;
}

.asset-item {
  background: $white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-shadow: 0 2px 10px -2px transparentize($black, 0.85);
  cursor: pointer;
  display: flex;
  margin: 0 0 10px 0;
  transition: all 220ms ease;

  .avatar {
    width: 60px;
    height: 60px;
    margin: 8px;
  }

  &:hover {
    box-shadow: 0 2px 40px -2px transparentize($black, 0.75);
  }
}
</style>
