<template>
  <div class="asset-detail">

    <h1>Asset Details</h1>

    <div class="asset-img">
      <img v-if="assetPath" :src="assetPath" alt="">
      <h3 v-else>Loading...</h3>
    </div>

    <div class="asset-imgs">
      <img v-if="asset64" :src="asset64" alt="">
      <img v-if="asset32" :src="asset32" alt="">
    </div>

    <div class="branding">
      <div v-for="item in brand" class="brand-item" :style="{ background: item }">
        <span>{{ item }}</span>
      </div>
    </div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AssetDetail',

  data() {
    return {
      assetPath: '',
      brand: [],
      raw: {},
      asset32: '',
      asset64: ''
    }
  },

  methods: {
    ...mapActions(['getImageMeta'])
  },

  mounted() {
    const id = this.$route.params.id
    this.getImageMeta(id).then(res => {
      // Assign data
      this.assetPath = `${res.assetPath}?w=500&h=500`
      this.asset32 = `${res.assetPath}?w=32&h=32`
      this.asset64 = `${res.assetPath}?w=64&h=64`
      this.brand = res.brand
      this.raw = res.raw
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables.scss';

.asset-detail {
  text-align: center;
  margin: auto;
  max-width: 700px;
  width: 70%;
}

.asset-img {
  margin: 0 auto 40px;
  max-width: 60%;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.branding {
  display: flex;
  justify-content: space-between;
}

.brand-item {
  border-radius: 3px;
  height: 60px;
  width: 100px;
  margin: auto;
}
</style>
