<template>
  <form class="upload-box" ref="fileform">
    <span class="drop-zone">Drop the files here!</span>
  </form>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters(['metamask', 'account'])
  },
  data() {
    return {
      dragAndDropCapable: false,
      file: '',
      ipfsHash: ''
    }
  },
  mounted() {
    this.dragAndDropCapable = this.determineDragAndDropCapable()
    if (this.dragAndDropCapable) {
      ;[
        'drag',
        'dragstart',
        'dragend',
        'dragover',
        'dragenter',
        'dragleave',
        'drop'
      ].forEach(evt => {
        this.$refs.fileform.addEventListener(
          evt,
          e => {
            e.preventDefault()
            e.stopPropagation()
          },
          false
        )
      })

      this.$refs.fileform.addEventListener('drop', e => {
        this.file = e.dataTransfer.files[0]

        this.submitFiles()
        console.log(`beaming ${this.file.name}`)
      })
    }
  },
  methods: {
    ...mapActions(['uploadImage']),
    ...mapMutations(['SET_MULTIHASH']),
    determineDragAndDropCapable() {
      const div = document.createElement('div')
      return (
        ('draggable' in div || ('ondragstart' in div && 'ondrop' in div)) &&
        'FormData' in window &&
        'FileReader' in window
      )
    },
    async submitFiles() {
      const formData = new FormData()

      formData.append(`files`, this.file)
      console.log(this.file)
      const response = await this.uploadImage(formData)
      this.$emit('hashReceived', response.data.hash)
      this.ipfsHash = response.data.hash
      console.log(response.data)
      this.SET_MULTIHASH(response.data)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../scss/variables.scss';
form {
  width: 75%;
  margin: 0 auto;
  border-radius: 6px;
  height: 30vh;
  background: #ccc;
  text-align: center;
}
</style>
