<template>
  <div>
    &copy; NoBlankImg {{ year }} - <span>by <a href="https://gitlab.com/TrevorJTClarke" target="_blank">@trevorjtclarke</a> & <a href="https://gitlab.com/taylorjdawson" target="_blank">@taylorjdawson</a></span>
  </div>
</template>

<script>
export default {
  name: 'Footer',

  data() {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>
div {
  font-size: 11pt;
  margin: 40px 0px 20px;
  text-align: center;
}

a {
  text-decoration: none;
}
</style>
