<template>
  <div class="header-bar">
    <div class="header-wrap">
      <div class="logo">
        <router-link :to="{name: 'Home'}" tag="a">
          <img src="/static/logo.svg" alt="NoBlankImg">
          <span>BETA</span>
        </router-link>
      </div>

      <div class="header-menu">
        <router-link :to="{name: 'AssetVerification'}" tag="a">
          <span>Verify</span>
        </router-link>
        <a v-if="metamask && account" class="btn-account not-active" :title="account">
          <span>{{ acct }}</span>
        </a>
        <a v-else href="#noAcct" class="btn-account">
          <span>No Account</span>
        </a>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Header',

  computed: {
    ...mapGetters(['metamask', 'account'])
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';

.header-bar {
  color: $color1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  position: relative;
  width: 100%;
}

.logo {
  position: relative;
  font-family: monospace, sans-serif;

  a {
    display: block;
    padding: 10px 0 0;
  }

  img {
    width: 120px;
  }

  span {
    background: $color2;
    border: 1px solid $color1;
    color: $white;
    position: absolute;
    right: -60px;
    top: 22px;
    padding: 2px 6px 1px;
    border-radius: 4px;
    font-size: 10pt;
    font-weight: 600;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
  margin: 0;
  width: 100%;
}

.header-menu {
  display: flex;

  a {
    color: $color1;
    display: flex;
    align-items: center;
    padding: 10px 1vw;
    font-weight: 900;
    font-size: 11pt;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: $primary;
      cursor: pointer;
    }

    &.btn-account {
      flex-direction: column;
      margin: auto;

      h6 {
        margin: 0;
      }
    }

    &.not-active {
      cursor: default;
    }
  }
}
</style>
