<template>
  <div class="hello">

    <h2>Never get caught with broken images again!</h2>

    <div class="examples-list">
      <div v-for="item in examples" class="example">
        <AssetItem :data="item" />
      </div>
    </div>

  </div>
</template>

<script>
import AssetItem from './AssetItem'

export default {
  name: 'Home',

  components: {
    AssetItem
  },

  data() {
    return {
      examples: [
        {
          hash: '0x06012c8cf97bead5deae237070f9587f8e7a266d'
        },
        {
          hash: '0x747616c4a19bd9bf1e2b6c8a77d206ea1f9c6018'
        },
        {
          hash: '0x96313f2c374f901e3831ea6de67b1165c4f39a54'
        },
        {
          hash: '0x752c4e4e90846c5673c3791b9809f71b7d4a638a'
        },
        {
          hash: '0x552d72f86f04098a4eaeda6d7b665ac12f846ad2'
        },
        {
          hash: '0x13c8a7817ab3e74c28f5ef0eb7d7a3bdb329c2a0'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables.scss';

.hello {
  text-align: center;
  margin: auto;
}
</style>
