<template>
  <div class="upload">
    <DropZone @hashReceived="ipfsMultiHash.hash = $event" />
    <div class="data-entry">
      <InputField class="input-field" color="" placeholder="Enter asset address" label="address" @inputEvent="inputEvent" />
      <h3>IPFS Hash: <span>{{ ipfsMultiHash.hash }}</span></h3>
      <button @click="_addAsset()">Submit</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import InputField from './InputField'
import DropZone from './DropZone'

export default {
  name: 'Home',
  components: {
    InputField,
    DropZone
  },
  computed: {
    ...mapGetters(['metamask', 'account', 'ipfsMultiHash'])
  },
  methods: {
    ...mapActions(['addAsset']),
    _addAsset() {
      this.addAsset({
        assetId: '0xb2da1bc4a79319a3854cfcac46bfaeee8eb38b33',
        digest: this.ipfsMultiHash.digest,
        functionHash: this.ipfsMultiHash.hashFunction,
        size: this.ipfsMultiHash.size
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables.scss';
.upload {
  text-align: center;
  form {
    width: 75%;
    margin: 0 auto;
    border-radius: 6px;
    height: 30vh;
    background: #ccc;
    text-align: center;
  }
}
.data-entry {
  width: 75%;
  margin: 5vh auto;
  h3 {
    span {
      background-color: #cccccc85;
      padding: 5px;
      border-radius: 3px;
    }
  }
  button {
    display: block;
  }
}

.input-field {
  margin: 20px;
}
</style>
