$white:             #ffffff !default;
$black:             #222222 !default; // I hate exact black. Eeww

$primary:           #4c598c !default;
$error:             #C94736 !default;
$secondary:         #6e6e6e !default;

$darkgrey:          #323232 !default;
$lightgrey:         #a7a7a7 !default;

// Branding
$color1: #58A4B0;
$color2: #0C7C59;
$color3: #2B303A;
$color4: #D64933;
$color5: #BAC1B8;

// Styleguide
$border-radius:     3px !default;
